/* Containers */
.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

/* Images */
.meme-image {
  max-width: 500px;
  max-height: 500px;
  width: auto;
  height: auto;
  /*margin: 2rem;*/
  /*padding: 2rem;*/
}

.meme-image:hover {
  box-shadow: 0 0 4px 2px rgba(0, 140, 186, 0.5);
  cursor: pointer;
}

.selected-meme-image {
  max-width: 40vw;
}

/* Form */
.meme-form {
  position: sticky;
  float: left;
  margin-left: 5vw;
  font-size: 2.5em;
  height: 3em;
  background: wheat;
}

.meme-text {
  max-height: 3em;
  /* max-width: 8em; */
  background: transparent;

  /* =================================== NOVRANDOBILLY'S CHANGE =================================== */
  padding-left: 2px;
  /* ============================================================================================== */

  border: none;
  z-index: 10;
  display: inline;
  font-family: impact, sans-serif;
  font-size: 2.5em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 0px 2px 0 #000, 2px 0px 0 #000, 0px -2px 0 #000,
    -2px 0px 0 #000, 2px 2px 5px #000;
}

.meme-text-light {
  color: black;
}

.add-button {
  max-width: fit-content;
  left: 765px;
  top: -538px;
  will-change: top, left;
  transition: none 0s ease 0s;
}

/* Hacks */
textarea {
  resize: none;
}

